
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<%= button_to '戻る', photos_path, method: :get, class:"btn btn-default" %>
			<h1>New Photo</h1>
			<%= render 'form' %>
		</div>
	</div>
</div>

